@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Optionally, you can define font classes if needed */
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
